/* bodyの余白をなくす */
body {
  padding: 0;
  margin: 0;
}

/* MyProfileを四角でかこむ */
.myprofile {
  border: 1px solid black;
  padding: 3px;
  background-color: white;
}

/* ナビゲーションメニューを横並びにする */
.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 20px auto 20px auto;
  max-width: 960px; 
}

/* nav2(about と works) を横並びにする */
.nav2 {
  display: flex;
  gap: 20px
}

/* メインビジュアルの画像のリサイズ */
.carauselImg {
  width: 960px;
  height: 400px;
}

.carausel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.carausel .carauselImg {
  margin: 0 auto;
}

/* Aboutを中央に配置 */
.about {
  text-align: center;
}

/* yokogao画像の角を丸くする */
.yokogao {
  border-radius: 50%;
}
/* yokogaoとnameを横並びにする */
.jikosyoukai {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px
}

/* Worksセクション全体を中央に配置 */
.works {
  display: flex;
  justify-content: center;
  width: 100%;
}
/* worksのタイトルを中央に配置 */
.works h1 {
  text-align: center;
  width: 100%;
}
.sakuhin {
  width: 179px;
  margin: 10px;
  text-align: center;
}
/* workの画像のリサイズ */
.work {
  width: 179px;
  height: 134px;
}
/* 説明文の折り返し表示 */
.sakuhin p {
  word-wrap: break-word;
  width: 179px;
  margin: 0 auto;
}
/* works-sakuhinをflexcontainerにして子要素を横並びにする */
.sakuhin {
  display: flex;
  justify-content: space-around;
  width: 573px;
  height: 329px;
  margin:auto;
}


/* モーダルの設定 */
.modal {
  display: none;
  position: fixed;
  z-index: 2;
  width: 80%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}
/* モーダルコンテンツの設定 */
.modal-content {
  position: relative;
  margin: auto;
  width: 80%;
  max-width: 800px;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* モーダルで表示する画像 */
#modalImg {
  position: absolute;
  width: 80px;
  max-width: 800px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* 閉じるボタン */
.close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: white;
  font-size: 40px;
  text-decoration: none;
}

/* フッターを中央に配置 */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
